.form h1{
  width: 50%;
  margin: 0 auto;
  color: white;
}
.form h2{
  margin: 20px auto;
  color: white;
  font-size: 1.2em;
  width: 80%;
  max-width: inherit;
  line-height: inherit;
}

.form{
  height: fit-content;
  width: 80%;
  background-color: black;
  color: white;
  display: block;
  margin: 80px auto 0;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
}
.form-texto{
  width: 40%;
  height: 90%;
  display: block;
  color: white;
  align-items: center;
}
.form-texto h1, h2{
  color: white;
  height: auto;
  width: 90%;
  margin: 5px auto;
}
.form-form{
  height: 100%;
  width: 90%;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
}
.form-nombre{
  height: 10%;
  width: 90%;
  font-family: inherit;
  font-size: 1em;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  border: solid 4px transparent;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}
.name-advice{
  margin: 8px 60px;
  font-size: .8em;
  min-height: 16px;
  color: white;
  content: '';
}
.form-nombre:focus:invalid ~ .name-advice:after{
  content: attr(alt);
  height: auto;
}
.form-mail{
  height: 10%;
  width: 90%;
  font-family: inherit;
  font-size: 1em;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  border: solid 4px transparent;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}
.email-advice{
  margin: 8px 60px;
  font-size: .8em;
  min-height: 16px;
  color: white;
  content: '';
}
.form-mail:focus:invalid ~ .email-advice:after{
  content: attr(alt);
}
.form-mensaje{
  height: 100px;
  width: 90%;
  font-family: inherit;
  font-size: 1em;
  margin: 0 auto;
  padding: 5px;
  display: block;
  border: solid 4px transparent;
  border-radius: 5px;
  overflow: auto;
  box-sizing: border-box;
  outline: none;
}
.message-advice{
  margin: 8px 60px;
  font-size: .8em;
  min-height: 16px;
  color: white;
  content: '';
}
.form-mensaje:focus:invalid ~ .message-advice:after{
  content: attr(alt);
}
.form-button {
  display: flex;
  text-decoration: none;
  height: 40px;
  width: fit-content;
  margin: 20px auto;
  padding: 10px;
  color: black;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
}
.form-button:disabled{
  background-color: rgb(114, 114, 114);
}
.form-button:hover:enabled{
  background-color: rgba(255, 206, 0, 1);
}
.form-item:invalid:focus{
  border: solid 4px red
}

.form-item:valid:focus{
  border: solid 4px rgb(2, 197, 2)
}
@media screen and (max-width: 1025px){
  .form{
    margin: 0 auto;
  }
  .form-spacer{
    height: 80px;
  }
}

@media screen and (max-width: 620px){
  .form h1{
    width: 80%
  }
  .name-advice{
    margin: 8px 15px;
  }
  .email-advice{
    margin: 8px 15px;
  }
  .message-advice{
    margin: 8px 15px;
  }
}
