
.hero {
  height: auto;
  width: fit-content;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 400px auto;
  grid-template-areas: 'heroImg menuImg'
                       'info info';
  align-items: center;
  margin: 0 auto 30px auto;
}
.hero-spacer{
  height: 30px
}
.hero-imgContainer{
  grid-area: heroImg;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
}
.hero-menu{
  grid-area: menuImg;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
}
.hero-img, .hero-menuImg{
  width: 100%;
  border-radius: inherit;
  display: flex;
  justify-content: center;
}
.hero-info{
  background-color: rgba(90, 90, 90, 0.5);
  grid-area: info;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.hero-title{
  font-size: 2em;
}
.hero-text{
  margin: 10px auto;
  text-align: center;
  color: white;
}
.subtextos{
  font-size: 1.2em;
  line-height: 1.2em;
}
.hero-link{
  color: rgba(255, 206, 0, 1);
}
.hero-link:hover{
  font-size: 1.5em;
}

@media screen and (max-width: 1025px){
  .hero-spacer{
    height: 80px;
    position: absolute;
    top: 0;
  }
  .hero{
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px;
    margin: 30px auto;
    scroll-margin-top: 35em;
  }
}

@media screen and (max-width: 681px){
  .hero {
    height: auto;
    grid-template-columns: 300px;
    grid-template-rows: 300px  300px auto;
    grid-template-areas: 'heroImg'
                         'menuImg'
                         'info';
  }
  .hero-text{
    text-align: left;
  }
  .hero-title{
    font-size: 1.8em;
    margin: 20px;
  }
  .hero-imgContainer{
    height: 100%;
    display: flex;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .hero-menu{
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    border-top-right-radius: 0px;
  }
  .hero-img{
    height: 100%;
    width: 100%;
  }
}
