.bar-menu{
  margin: 30px;
  border-radius: 20px;
  grid-area: bar-menu;
  width: inherit;
  max-height: 650px;
  background-color: rgb(255, 255, 255);
  display: block;
  box-shadow: 0px 0px 16px 0px #626262;
}
.bar-menu-icons,
.bar-menu ol li {
  height: inherit;
}
.bar-menu_ham_wrapper{
  display: none;
}
.logo {
  margin: 10px auto;
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
}
.logo-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.link{
  width: 100%;
}
.logo-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.slogan{
  width: 100%;
  text-align: center;
  margin: 10px auto;
  font-size: 1.2em;
}
.guisado, .contacto, .guisadosLink {
  display: flex;
  text-decoration: none;
  height: 40px;
  width: 80%;
  margin: 20px auto;
  color: black;
  border-radius: 50px;
  background-color: rgba(114, 114, 114, .2);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 200;
}
.guisado:hover, .contacto:hover, .guisadosLink:hover{
  background-color: rgba(255, 206, 0, 1);
  width: 110%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 50px;
}
.yellow{
  background-color: rgba(255, 206, 0, 1);
  width: 110%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 50px;
}
.bar-menu_ham_icon path{
  display: none;
}

@media screen and (max-width: 1025px){
  .bar-menu{
    max-height: 80px;
    grid-area: barMenu;
    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .bar-menu-icons{
    display: flex;
    width: 100%;
  }
  .bar-menu ol{
    display: flex;
    height: inherit;
    width: inherit;
    justify-content: space-evenly;
    margin: auto;
  }
  .bar-menu li {
    height: inherit;
    width: 30%;
    margin: 0;
  }
  .logo {
    width: 20%;
    height: auto;
    margin: 10px;
  }
  .logo-container {
    width: 40%;
    height: 100%;
    display: flex;
  }
  .logo-img {
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
  .slogan{
    display: none;
  }
  .guisado, .contacto {
    width: auto;
  }
  .guisado:hover, .contacto:hover, .guisadosLink:hover{
    border-radius: 50px;
    width: 100%;
    height: 40px;
  }
  .yellow{
    background-color: rgba(255, 206, 0, 1);
    width: 100%;
    border-radius: 25px;
    height: 40px;
  }
}
@media screen and (max-width: 681px){
  .bar-menu{
    min-height: 100px;
    display: flex;
  }
  .bar-menu-icons {
    display: block;
    height: auto;
    width: 40%;
    left: -100%;
    position: absolute;
    transition: .5s ease-in-out;
    top: 100px;
  }
  .bar-menu-icons ol{
    display: block;
    margin: 0;
    width: 100%;
/*     height: auto;
    left: -110;
    position: absolute; */
  }
  .bar-menu-icons li{
    height: auto;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
/*     box-shadow: 0px 0px 16px 0px #626262; */
  }
  
  .bar-menu_ham_wrapper{
    display: flex;
    height: 40px;
    position: absolute;
    width: 40px;
    border-radius: 50%;
    background: rgba(143, 140, 140, 0.3);
    margin: auto;
    top: 30px;
    left: 30px;
  }
  .bar-menu_ham_icon{
    display: flex;
    height: 40px;
    position: absolute;
    width: 40px;
    border-radius: 50%;
    background: rgba(161, 161, 161, 0.3);
    margin: auto;
    top: 30px;
    left: 30px;
  }
  .bar-menu_ham_icon path{
    transform: translate(8px, 8px);
    display: flex;
  }
  .logo-container{
    width: 25%;
  }
  .logo{
    width: 100%;
    margin: 10px auto
  }
  .guisado, .contacto, .guisadosLink{
    display: flex;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
  }
  .guisado:hover, .contacto:hover, .guisadosLink:hover{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 100%;
  }
  .yellow{
    width: 100%;
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .show{
/*     -webkit-transform: translateZ(110px);
            transform: translateZ(110px); */
    display: block;
    left: 0;
    position: absolute;
    top: 100px;
    width: 40%;
    transition: .5s ease;
  }
}

@media screen and (max-width: 500px){
  .show{
    width: 60%;
  }
}
